// -------- COLORS -------- //
$black: #000000;
$white: #ffffff;

// -------- INTERFACE -------- //
$font-family: "Manrope";
$font-size: 16px;
$font-color: $black;

$body-background: #777;

$container-width: 1160px;
$container-padding: 20px;