.section {
	// .section__header

	&__header {
		margin: 0 auto;
		width: 50%;
		text-align: center;
		color: $white;
		margin-bottom: 30px;
	}

	// .section__subtitle

	&__subtitle {
		font-weight: 300;
		font-size: 17px;
		line-height: 23px;
		margin-bottom: 46px;
	}

	// .section__title

	&__title {
		font-family: "Montserrat Alternates";
		font-style: normal;
		font-weight: 600;
		font-size: 96px;
		line-height: 117px;
		margin-bottom: 30px;
	}

	// .section__suptitle

	&__suptitle {
		font-family: "Montserrat Alternates";
		font-weight: 500;
		font-size: 36px;
		line-height: 44px;
		margin-bottom: 8px;
	}
}
.booking {
	background-image: url("../img/booking/booking-bg.png");
	background-position: center;
	// background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	// .booking__container
	&::after {
		content: "";
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		right: 0;
		height: 80px;
		background: linear-gradient(
			8.97deg,
			#ffffff 36.89%,
			rgba(255, 255, 255, 0) 102.85%,
			rgba(255, 255, 255, 0.083125) 102.85%
		);
		transform: translateY(50%);
	}
	&__container {
	}

	// .booking__header

	&__header {
		font-family: "Montserrat Alternates";
		font-weight: 500;
		font-size: 36px;
		line-height: 44px;
		color: $white;
		flex: 0 0 calc(100% / 3);
		display: flex;
		text-align: right;
		h3 {
			text-align: right;
		}
	}

	// .booking__button

	&__button {
		color: $white;
		svg {
			fill: $white;
		}
	}

	// .booking__content

	&__content {
		display: flex;
		margin-bottom: 30px;
	}

	// .booking__col

	&__col {
		flex: 0 0 calc(100% / 3);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 15px;
	}

	// .booking__item

	&__item {
	}

	// .booking__footer

	&__footer {
		font-weight: 300;
		font-size: 17px;
		line-height: 23px;
		color: $white;
		max-width: 50%;
		margin: 0 auto;
	}

	// .booking__hr

	&__hr {
		height: 3px;
		background: $white;
		max-width: 47.5%;
		margin: 0 auto;
		margin-top: 33px;
	}
}
.item-booking {
	display: flex;
	align-items: center;
	width: 271px;
	&:not(:last-child) {
		margin-bottom: 23px;
	}

	// .item-booking__date

	&__date {
		font-family: "Montserrat Alternates";
		font-weight: 600;
		font-size: 90px;
		line-height: 110px;
		color: $white;
		margin-right: 15px;
	}

	// .item-booking__col

	&__col {
		display: flex;
		flex-direction: column;
	}

	// .item-booking__month

	&__month {
		font-weight: 300;
		font-size: 14px;
		line-height: 19px;
		letter-spacing: 0.34em;
		color: $white;
	}

	// .item-booking__name

	&__name {
		font-family: "Montserrat Alternates";
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		color: $white;
	}
}
@media (max-width: 1200px) {
	.section__header {
		width: 80%;
	}
    .booking__footer {
        max-width: 80%;
    }
    .booking__hr {
        max-width: 75%;
    }
}
@media (max-width: 1024px) {
	.booking {
		&__content {
			flex-direction: column;
			align-items: center;
		}
		&__header {
			margin-bottom: 30px;
            h3 {
                text-align: center;
            }
		}
	}
}
@media (max-width: 768px) {
	.section__header {
		width: 100%;
	}
	.section__title {
		font-size: 72px;
        line-height: 90px;
        margin: 0;
	}
	.section__suptitle {
		font-size: 24px;
        margin: 0;
	}
    .booking__footer {
        max-width: 100%;
    }
    .booking__hr {
        max-width: 90%;
    }
}
@media (max-width: 425px) {
    .section__title {
        font-size: 48px;
        line-height: 1;
        margin-bottom: 10px;
    }
    .section__subtitle {
        font-size: 14px;
    }
}