.footer {
	padding: 60px 0;
	// .footer__container

	&__container {
		position: relative;
		z-index: 2;
		display: flex;
        flex-wrap: wrap;
		&::before {
			content: "";
			position: absolute;
			z-index: 3;
			width: 100%;
			height: 3px;
			background-color: $black;
			top: -30px;
			left: 0;
		}
	}

	// .footer__col

	&__col {
		flex: 0 0 20%;
		padding: 0 15px;
	}

	// .footer__logo

	&__logo {
	}

	// .footer__title

	&__title {
		font-family: "Montserrat Alternates";
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		color: $black;
		margin-bottom: 20px;
	}

	// .footer__list

	&__list {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		list-style: none;
	}

	// .footer__item

	&__item {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	// .footer__link

	&__link {
		font-size: 15px;
		line-height: 160%;
		color: $black;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}

	// .footer__text

	&__text {
		font-size: 15px;
		line-height: 160%;
		color: $black;
		text-decoration: none;
	}
}
.logo-footer {
	display: flex;
	align-items: center;
	text-decoration: none;

	// .logo-footer__image

	&__image {
		margin-right: 13px;
	}

	// .logo-footer__text

	&__text {
		font-family: "Montserrat Alternates";
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		color: $black;
        max-width: 140px;
	}
}
@media (max-width: 1200px) {
    .footer__col {
        &:nth-child(1) {
            flex: 0 0 100%;
            margin-bottom: 25px;
        }
        margin-bottom: 20px;
    }
}