.section {
	// .section__title

	&__title {
	}
}
.travel {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		height: 80px;
		transform: translateY(-50%);
		background: linear-gradient(
			359deg,
			#ffffff 39.88%,
			rgba(255, 255, 255, 0.083125) 87.38%,
			rgba(255, 255, 255, 0) 87.39%
		);
	}
	&::after {
		content: "";
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		right: 0;
		height: 80px;
		background: linear-gradient(
			8.97deg,
			#ffffff 36.89%,
			rgba(255, 255, 255, 0) 102.85%,
			rgba(255, 255, 255, 0.083125) 102.85%
		);
		transform: translateY(50%) rotate(-180deg);
	}
	background-image: url("../img/travel/travel-bg.png");
	background-size: cover;
	background-position: center left;
	// .travel__container

	&__container {
		position: relative;
		z-index: 2;
	}

	// .travel__top

	&__top {
		margin-bottom: 125px;
	}

	// .travel__title

	&__title {
		font-family: "Montserrat Alternates";
		font-weight: 600;
		font-size: 50px;
		line-height: 61px;
		color: $black;
		text-align: center;
	}

	// .travel__content

	&__content {
		margin-top: 70px;
		display: flex;
		justify-content: space-between;
	}

	// .travel__map

	&__map {
		flex: 0 0 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .travel__col

	&__col {
		padding-top: 50px;
		flex: 0 1 25%;
		&:not(:last-child) {
			margin-right: 35px;
		}
	}

	// .travel__text

	&__text {
		line-height: 170%;
		color: $black;
	}

	// .travel__button

	&__button {
		margin-top: 25px;
	}
}
.map-travel {
	position: relative;
	&__location {
		display: flex;
		align-items: center;
		position: absolute;
		cursor: pointer;
		svg {
			fill: #333;
			transition: transform 0.3s;
		}
		&:hover {
			svg {
				transform: scale(1.2);
			}
		}
		&#first-location {
			top: -26px;
			left: 226px;
		}
		&#second-location {
			top: 85px;
			left: 20px;
		}
		&#third-location {
			top: 142px;
			left: 260px;
		}
		&#fourth-location {
			top: 211px;
			left: 392px;
		}
		&#fifth-location {
			bottom: 103px;
			left: 75px;
		}
		&#sixth-location {
			bottom: 8px;
			left: 399px;
		}
	}
	&__text {
		font-family: "Montserrat Alternates";
		font-weight: 600;
		font-size: 15px;
		line-height: 18px;
		color: $black;
		margin: 0 6px;
	}
}

.bottom-travel {
	display: flex;
	// .bottom-travel__conductors

	&__conductors {
		padding-left: 74px;
		flex: 0 0 calc(55% - 10px);
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 30px;
	}

	// .bottom-travel__title

	&__title {
		font-family: "Montserrat Alternates";
		font-weight: 600;
		font-size: 30px;
		line-height: 37px;
		color: $black;
		margin-bottom: 56px;
	}

	// .bottom-travel__row

	&__row {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
	}

	// .bottom-travel__item

	&__item {
	}

	// .bottom-travel__button

	&__button {
		align-self: flex-end;
	}

	// .bottom-travel__video

	&__video {
	}
}
.bottom-travel-item {
	flex: 0 0 242px;
	// .bottom-travel-item__row

	&__row {
		display: flex;
		margin-bottom: 7px;
	}

	// .bottom-travel-item__image

	&__image {
		max-width: 70px;
		max-height: 70px;
		margin-right: 25px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 50%;
	}

	// .bottom-travel-item__col

	&__col {
	}

	// .bottom-travel-item__title

	&__title {
		font-weight: 700;
		font-size: 17px;
		line-height: 23px;
		color: $black;
		margin-bottom: 7px;
	}

	// .bottom-travel-item__subtitle

	&__subtitle {
		font-weight: 300;
		font-size: 15px;
		line-height: 20px;
		color: $black;
	}

	// .bottom-travel-item__text

	&__text {
		font-weight: 300;
		font-size: 17px;
		line-height: 23px;
		color: $black;
	}
}
.bottom-travel-video {
	flex: 0 0 45%;
	background-image: url("../img/travel/video.png");
	background-size: cover;
	border-radius: 20px;
	background-position: center center;
	height: 238px;
	width: 100%;
	align-self: flex-end;
	display: flex;
	align-items: flex-end;
	padding: 30px 40px;
	// .bottom-travel-video__body

	&__body {
		display: flex;
	}

	// .bottom-travel-video__button

	&__button {
		width: 60px;
		height: 60px;
		border: none;
		background: none;
		background-image: url("../img/icons/play-icon.svg");
		margin-right: 18px;
	}

	// .bottom-travel-video__col

	&__col {
	}

	// .bottom-travel-video__title

	&__title {
		font-family: "Montserrat Alternates";
		font-weight: 600;
		font-size: 23px;
		line-height: 28px;
		color: $white;
	}

	// .bottom-travel-video__subtitle

	&__subtitle {
		font-weight: 300;
		font-size: 15px;
		line-height: 20px;
		color: $white;
	}
}
@media (max-width: 1200px) {
	.travel__content {
		flex-direction: column;
	}
	.map-travel {
		margin: 0 auto 50px;
	}
	.map-travel__location {
		&#first-location {
			left: 65px;
		}
		&#second-location {
			left: -135px;
		}
		&#third-location {
			left: 100px;
		}
		&#fourth-location {
			left: 228px;
		}
		&#fifth-location {
			left: -85px;
		}
		&#sixth-location {
			left: 240px;
		}
	}
	.bottom-travel {
		flex-direction: column;
	}
	.bottom-travel__conductors {
		padding: 0;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.bottom-travel-video {
		flex: 0 0 100%;
		min-height: 238px;
	}
	.travel__col {
		padding: 0;
		&:not(:last-child) {
			margin: 0;
			margin-bottom: 25px;
		}
	}
}

@media (max-width: 768px) {
	.travel__title {
		font-size: 40px;
	}
}
@media (max-width: 580px) {
	.bottom-travel__row {
		flex-direction: column;
	}
	.bottom-travel-item {
		flex: 0 0 100%;
		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}
	.bottom-travel__button {
		align-self: center;
	}
}

@media (max-width: 425px) {
	.bottom-travel-video {
		align-items: center;
		justify-content: center;
		min-height: 100%;
	}
	.bottom-travel-video__body {
		flex-direction: column;
		align-items: center;
        text-align: center;
	}
	.bottom-travel-video__button {
		margin-bottom: 15px;
	}
	.travel__title {
		font-size: 30px;
		line-height: 37px;
	}
    .button {
        padding: 15px 35px;
        &_o {
            padding: 15px 35px;
        }
    }
}
